*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #AAAAAA;
}

header{
	height: 64px;
	width: 100%;
	/*background: green;*/
}
.container{
	max-width: 1350px;
	margin:0 auto;
	padding:0 30px;

}
.flex{
	display: flex;
	align-items:center;
}
.row-1{
	height: 64px;
display: flex;
justify-content: space-between;
align-items: center;

}
.logo-area{
	width: 50px;
	height: 50px;
	margin-right: 30px;

}
.logo-area img{
	width: 100%;
	height: 100%;
}
.btn-explore{
	position: relative;
	margin-left: 60px;
	
}
.btn-explore:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #146A1F;
    width: 150%;
    bottom: -24px;
    left: -42px;
    right: 0;
}

.btn-explore  img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -30px;
}
.btn-explore span{
	font-family: 'Open Sans SemiBold', 'Open Sans Regular', 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #146A1F;
}
.nav-bar{
	list-style: none;
	position: relative;
}
.language{
	position: relative;
}
#language{
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #494949 !important;
}
.nav-bar a{
 text-decoration: none;
 color:inherit;
 margin-left: 30px;
}
.nav-bar a.nav-link img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -26px;
    top: -2px;
}
.search-section{
    background-color: rgba(243, 243, 243, 1);
    height: 200px;
    width: 100%;
}